pdp = http://localhost:8080/pdp/

# All possible PIPs (seperated by comma)
pips = http://localhost:8080/pip/

# PEP Zone
zone = demozone

oa.service.url = http://localhost:8080/pep
demo.service.url = http://localhost:8080/demo-app


# User Roles (seperated by comma)
user.roles = ZVR+948166613:Sf1HOXgY+v9EYVP7vzQWvgFefJw=@user:ceo,ZVR+948166713:Sf1HOXgY+v9EYVP7vzQWvgFefJw=@user