# Simple Database for PIP


# Host for id
host.ix28739aseu = localhost
#host.PAYSLIP = segregated.iaik.tugraz.at
host.PAYSLIP = localhost
host.JSON = localhost
host.demoapp.sf = http://localhost:8080/demo-app
host.localhost.10000 = http://localhost:8080/

# Zone for id
zone.ix28739aseu = demozone
zone.PAYSLIP = demozone
zone.MASKING = demozone
zone.demoapp.sf = demozone
zone.localhost.10000 = demozone

# PEP for zone
pep.demozone = http://localhost:8080/pep/v1
pep.db = http://db.iaik.tugraz.at:80/pep/v1
pep.mef = http://mef.iaik.tugraz.at:80/pep/v1
pep.shared = http://shared.iaik.tugraz.at:80/pep/v1
pep.segregated = http://segregated.iaik.tugraz.at:80/pep/v1
