.idea/*
*.iml
*.DS_Store

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Exclude maven wrapper
!/.mvn/wrapper/maven-wrapper.jar

# Exclude deployment .war files
!doc/install/infrastructure/tomcat/webapps/*.war
!doc/install/service/tomcat/webapps/*.war
!doc/install/manual/infrastructure/tomcat/webapps/*.war
!doc/install/manual/service/tomcat/webapps/*.war
